*Library*

In [46]:
import numpy as np
import pandas as pd

**Goodness-of-Fit tests**
Teachers conducted a market research survey by asking computer science students and strt what type of chocolate
they preferred from a list of milk chocolate, dark chocolate, white chocolate etc. They want to use a chi-squared
goodness-of-Fit test to check whether the preferences of computer scientists match those of french population as a
whole.
Here are the data

|                  |  Dark |  Milk |  White | Other |
|-------------------|:-----:|:-----:|:------:|:-----:|
| Whole population  | 50000 | 60000 | 100000 | 35000 |
| Computer scientists |   25  |   30  |   60   |   15  |

In [2]:
import pandas as pd
data = {" ": ['Whole population','Computer scientists'],
        "Dark":[50000,25],
        "Milk":[60000,30],
        "White":[100000,60],
        "Other":[35000,15]}
df = pd.DataFrame(data)
print(df)

                      Dark   Milk   White  Other
0  Whole population  50000  60000  100000  35000
1  Whole population     25     30      60     15

In [18]:
import pandas as pd

import scipy

Whole_population = pd.DataFrame([50000,60000,100000,35000])
Observed = [25,30,60,15]

Total_population = Whole_population.sum()
Total_population_distributed_ratio = Whole_population/Total_population
Total_population_distributed = Total_population_distributed_ratio*sum(Observed)
Total_population_distributed

# Exp = [61250,61250,61250,61250]
#
# Chi_space_whole_population = (Whole_population-Exp)*(Whole_population-Exp)/Exp
# Chi_space_whole_population = Chi_space_whole_population.sum()
# Chi_space_whole_population
# chi2.ppf(0.95, 3)
scipy.stats.chisquare(f_obs=Observed, f_exp=Total_population_distributed[0])
#
# stats.chisquare(f_obs=Whole_population, f_exp=Exp)

# Chi_space

Power_divergenceResult(statistic=1.7884615384615374, pvalue=0.6174490476918133)

To determine whether the result is significant, in the chi-square test we have to compare the chi-square test
statistic to a critical value based on the chi-square distribution. Use the scipy library to find the critical value
for 95% cofidence level and check the p-value. Do you accept or reject the null hypothesis of adequation
of the two distribution ? Carry out a chi-squared goodness-of fit test automatically using the scipy function
scipy.stats.chisquare()

**Independence test**
We want uncover the factors that lead to employee attrition and explore important questions such as `show me
a breakdown of distance from home by job role and attrition' or `compare average monthly income by education
and attrition'. This is a Fictional data set created by IBM data scientists.

Import the dataset in Python. Check out the number of employees and the number of attributes.

In [52]:
IBM = pd.read_csv('IBMdataset.csv')
IBM

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

In [ ]:
# IBM.count()
# IBM.describe()
# IBM.isnull().sum()

We want to examine if there is a relationship between `Attrition' and `JobSatisfaction'.
(i) Count for the two categories of `Attrition'.
(ii) Count for the four categories of `JobSatisfaction' ordered by frequency

In [55]:
IBM.groupby("Attrition").count()

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
Attrition,,,,,,,,,,,,,,,,,,,,,
No,1233,1233,1233,1233,1233,1233,1233,1233,1233,1233,...,1233,1233,1233,1233,1233,1233,1233,1233,1233,1233
Yes,237,237,237,237,237,237,237,237,237,237,...,237,237,237,237,237,237,237,237,237,237

In [58]:
IBM.groupby("JobSatisfaction")["Attrition"].count().sort_values(ascending=False)

JobSatisfaction
4    459
3    442
1    289
2    280
Name: Attrition, dtype: int64

In [65]:
Data_IBM_JobSatisfaction = pd.DataFrame(IBM.JobSatisfaction)
Data_IBM_JobSatisfaction

Data_IBM_Attrition = pd.DataFrame(IBM.Attrition)
Data_IBM_Attrition

Data_IBM_Job_and_Attr = pd.concat([Data_IBM_Attrition, Data_IBM_JobSatisfaction], axis=1)
Data_IBM_Job_and_Attr

     Attrition  JobSatisfaction
0          Yes                4
1           No                2
2          Yes                3
3           No                3
4           No                2
...        ...              ...
1465        No                4
1466        No                1
1467        No                2
1468        No                2
1469        No                3

[1470 rows x 2 columns]

In [71]:
final = pd.crosstab(index=Data_IBM_Job_and_Attr['JobSatisfaction'], columns=Data_IBM_Job_and_Attr['Attrition'], margins=True)
final

Attrition          No  Yes   All
JobSatisfaction
1                 223   66   289
2                 234   46   280
3                 369   73   442
4                 407   52   459
All              1233  237  1470

In [83]:
from scipy.stats import chi2_contingency

test_statistic, pvalue, dof, expctd =chi2_contingency(final)
test_statistic
pvalue

17.505077010348